<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Crear alumno</title>
    </h:head>
   
    <h:body>
             <h:form>
               <h1><h:outputText value="Nuevo registro"/></h1>
               <p:panelGrid columns="2">
                   <p:outputLabel value="Nombre:" for="nombre" />
                   <p:inputText id="nombre" value="#{alumnoController.alumno.nombres}" title="Nombre" required="true" requiredMessage="The Nombre field is required."/>
                   <p:outputLabel value="Apellido:" for="apellido" />
                   <p:inputText id="apellido" value="#{alumnoController.alumno.apellidos}" title="Apellido" required="true" requiredMessage="The Apellido field is required."/>
                   <p:outputLabel value="Direccion:" for="direccion" />
                   <p:inputText id="direccion" value="#{alumnoController.alumno.direccion}" title="Direccion" required="true" requiredMessage="The Direccion field is required."/>
                   <p:outputLabel value="Telefono:" for="telefono" />
                   <p:inputText id="telefono" value="#{alumnoController.alumno.telefono}" title="Telefono" required="true" requiredMessage="The Telefono field is required."/>
               </p:panelGrid>
           </h:form>
           <p:commandButton value="Guardar" action="#{alumnoController.addAlumno()}"/>
    </h:body>
</html>

