<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:link value="Nuevo alumno" outcome="add"/>
                <br></br>
            <p:dataTable var="al" value="#{alumnoController.listaTodoAlumnos()}" paginator="true" paginatorPosition="top"
                rows="10" emptyMessage="No hay datos para mostrar" style="font-size: 12px;">
                <p:column headerText="ID">
                    <h:outputText value="#{al.idAlumno}"/>
                </p:column>
                
                <p:column headerText="NOMBRE ALUMNO">
                    <h:outputText value="#{al.nombres} #{al.apellidos}"/>
                </p:column>
                
                <p:column headerText="DIRECCION">
                    <h:outputText value="#{al.direccion}"/>
                </p:column>
                
                <p:column headerText="TELEFONO">
                    <h:outputText value="#{al.telefono}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header">
                       <h:outputText value="OPCIONES"/>
                    </f:facet>
                     <h:commandLink value="Editar" action="#{alumnoController.prepareEditAlumno(al)}"/> 
                        |
                        <h:commandLink value="Elimnar" action="#{alumnoController.deleteAlumno(al)}" onclick="return confirm('¿Está seguro?')"/> 
                </p:column>
                
                
            </p:dataTable>
        </h:form>    
    </h:body>
</html>

